<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SPA to quickly test ORDS JSON endpoints from the browser.">
    <meta name="author" content="Justin Biard">

    <title>ORDS Explorer using Vue.js</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <!-- see: https://vuejs.org/ for more information about Vue.js -->
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    
    <div id="ords-view" class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="m-b">ORDS Explorer</h1>
                <input
                  autofocus autocomplete="off"
                  placeholder="Enter an ORDS JSON endpoint URL to explore."
                  v-model="ords_link"
                  @keyup.enter="fetchData" class="form-control">
            </div>
            <div class="col-4">
                <div v-if="ords_data" class="card mt-2">
                    <a v-if="prevLink" href="#" @click="ords_link=prevLink;fetchData();" class="btn btn-secondary btn-sm"><-- Previous Page</a>
                    <a v-if="nextLink" href="#" @click="ords_link=nextLink;fetchData();" class="btn btn-secondary btn-sm">Next Page --></a>
                </div>
                <div class="card mt-2">
                    <div class="list-group">
                        <template v-if="ords_data !== null">
                            <a v-for="item in ords_data.items" class="list-group-item btn-secondary" href="#" @click="selected = item">
                                {{Object.keys(item)[0]}} : {{item[Object.keys(item)[0]]}}
                            </a>
                        </template>
                        <template v-else>
                            <div class="list-group-item">
                                Looking for some data...
                            </div>
                        </template>

                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="list-group mt-2" v-if="ords_data !== null" >
                    <div v-if="!selected.hasOwnProperty('Note')" class="list-group-item">
                        <strong>JSON</strong>: <code>{{selected}}</code>
                    </div>
                    <div v-for="(val, key) in selected" class="list-group-item">
                        <strong>{{key}}</strong> : {{val}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const { createApp } = Vue
        createApp({
            data() {
                return {
                    ords_data: null,
                    ords_link: null,
                    selected: null,
                    nextLink: null,
                    prevLink: null
                }
            },
            mounted() {
                // ... use this to do stuff when the page loads
            },
            methods: {
                fetchData() {
                    var xhr = new XMLHttpRequest();
                    var data = this;
                    data.ords_data = null;
                    data.selected = {
                        Note: '<--- Select an item...'
                    };
                    xhr.open('GET', data.ords_link);
                    xhr.onload = function () {
                        data.ords_data = JSON.parse(xhr.responseText);
                        data.nextLink = null;
                        data.prevLink = null;

                        if (Array.isArray(data.ords_data?.links)) {
                            data.ords_data.links.map((link) => {
                                if (link.rel === 'next') data.nextLink = link.href;
                                if (link.rel === 'prev') data.prevLink = link.href;
                            });
                        }
                    };
                    xhr.send();
                }
            },
        }).mount('#ords-view')
    </script>    
</body>
</html>